#contents{
  #concept{
    margin-top: 150px;
    .flex_wrap{
      @include flexSet;
      align-items: center;
      .img_wrap{
        width: 50%;
        margin-right: 40px;
        max-height: 800px;
        height: 100vh;
        background: #f1f1f1;
        @include bgSet;
        background-image: url(../img/concept_img.jpg);
      }
      .txt_wrap{
        width: 520px;
        p{
          font-size: 14px;
          line-height: 2;
          letter-spacing: 1.8px;
          margin-bottom: 15px;
          span{
            display: block;
          }
        }
      }
    }
  }
  @media screen and (max-width: 1100px){
    #concept{
      margin-top: 120px;
      .flex_wrap{
        display: block;
        .img_wrap{
          display: none;
          background-image: url(../img/concept_img.jpg);
        }
        .txt_wrap{
          width: 100%;
          .ttl_wrap{
            text-align: center;
          }
          .sp_img{
            width: 100%;
            height: 350px;
            margin-bottom: 50px;
            @include bgSet;
            background-image: url(../img/concept_img.jpg);
          }
          p{
            @include waku;
          }
        }
      }
    }
  }
  @media screen and (max-width: 750px){
    #concept{
      margin-top: 100px;
      padding: 60px 0 0;
      .flex_wrap{
        .txt_wrap{
          .sp_img{
            @include waku;
            height: 220px;
            margin-bottom: 35px;
          }
          p{
            font-size: 13px;
            line-height: 2;
            letter-spacing: 1.3px;
            span{
              display: inline;
            }
          }
        }
      }
    }
  }
}
