footer{
  padding: 70px 0;
  background: #f4f4f4;
  .footer_inner{
    @include waku;
    @include flexSet;
    flex-direction: row-reverse;
    align-items: flex-end;
    .footer_right{
      width: 50%;
      .aboutus{
        h4{
          font-size: 16px;
          font-weight: normal;
          letter-spacing: 2.8px;
          margin-bottom: 10px;
          span{
            display: inline-block;
            @include abel;
            font-size: 24px;
            letter-spacing: 3px;
            margin-right: 15px;
          }
        }
        .corp_name{
          font-size: 20px;
          letter-spacing: 3px;
          margin-bottom: 30px;
        }
        .about_item{
          margin-bottom: 25px;
          &.last{
            margin-bottom: 0;
          }
          .ttl{
            letter-spacing: 1.7px;
            margin-bottom: 5px;
            padding-bottom: 5px;
            border-bottom: 1px solid #444;
              span{
                display: inline-block;
                margin-right: 15px;
                @include abel;
                font-size: 20px;
                letter-spacing: 2.5px;
              }
          }
          p{
            font-size: 12px;
            line-height: 1.71;
            letter-spacing: 2.2px;
          }
        }
      }
    }
    .footer_left{
      width: 50%;
      .footer_logo{
        width: 200px;
        margin-bottom: 25px;
      }
      .catch{
        @include abel;
        font-size: 20px;
        line-height: normal;
        letter-spacing: 2.8px;
      }
      .sns_wrap{
        ul{
          @include flexSet;
          align-items: flex-end;
          margin: 15px 0;
          li{
            width: 30px;
            margin-right: 15px;
          }
        }
      }
      .copyright{
        font-size: 14px;
        letter-spacing: 2.5px;
      }
    }
  }
}
@media screen and (max-width: 750px){
  footer{
    padding: 50px 0;
    .footer_inner{
      @include waku;
      display: block;
      flex-direction: row-reverse;
      align-items: flex-end;
      .footer_right{
        width: 100%;
        margin-bottom: 40px;
        .aboutus{
          h4{
            font-size: 14px;
            letter-spacing: 2.2px;
            span{
              font-size: 18px;
              letter-spacing: 2px;
              margin-right: 15px;
            }
          }
          .corp_name{
            font-size: 18px;
            letter-spacing: 2px;
            margin-bottom: 35px;
          }
          .about_item{
            margin-bottom: 30px;
            .ttl{
              letter-spacing: 1.7px;
              margin-bottom: 5px;
              padding-bottom: 5px;
              border-bottom: 1px solid #444;
              font-size: 12px;
                span{
                  display: inline-block;
                  margin-right: 15px;
                  @include abel;
                  font-size: 16px;
                  letter-spacing: 2.5px;
                }
            }
            p{
              font-size: 12px;
              line-height: 1.71;
              letter-spacing: 2.2px;
            }
          }
        }
      }
      .footer_left{
        width: 100%;
        text-align: center;
        .footer_logo{
          width: 80%;
          margin: 0 auto 15px;
        }
        .catch{
          @include abel;
          font-size: 16px;
          line-height: normal;
          letter-spacing: 2.8px;
        }
        .sns_wrap{
          ul{
            @include flexSet;
            justify-content: center;
            margin: 15px 0;
          }
        }
        .copyright{
          font-size: 12px;
          letter-spacing: 2px;
        }
      }
    }
  }
}
