#contents {
  #plans {
    margin-top: 120px;
    padding: 80px 0;
    background: #f4f4f4;

    .ttl_wrap {
      text-align: center;
    }
    .plans_all{
      margin-top: 80px;
      .item_wrap{
        @include waku;
        @include flexSet;
        align-items: center;
        background: #fff;
        padding: 20px;
        margin-bottom: 20px;
        border-radius: 5px;
        box-sizing: border-box;
        .item_ttl{
          width: 120px;
          text-align: center;
          font-size: 16px;
          margin-right: 20px;
          padding: 10px;
          letter-spacing: 1.5px;
          border-radius: 5px;
          box-sizing: border-box;
          background: #444;
          color: #fff;
        }
        .item_detail{
          width: calc(100% - 140px);
          .price{
            font-size: 20px;
            font-weight: bold;
            letter-spacing: 1.8px;
            color: #9f6146;
          }
          .initial{
            font-size: 14px;
            font-weight: bold;
            font{
              display: inline-block;
              padding: 0 3px;
              font-size: 18px;
              color: #9f6146;
            }
          }
          .small{
            color: #aaa;
            font-size: 12px;
          }
        }
      }
    }

    .plans_wrap {
      width: calc(365px * 3);
      margin: 60px auto 0;

      #slickSlider2 {
        .slick-arrow {
          display: none !important;
        }

        .plan_wrap {
          width: 345px;
          margin: 0 10px;
          background: #fff;
          position: relative;
          border-radius: 5px;
          padding: 35px 15px 15px;
          box-sizing: border-box;

          .plan_ttl {
            position: absolute;
            width: 300px;
            top: -12.5px;
            left: 0;
            right: 0;
            margin: auto;
            border-radius: 5px;
            padding: 7px 0;
            color: #fff;
            @include abel;
            display: block;
            background: #aaa;
            color: #fff;
            font-size: 19px;
            letter-spacing: 1.3px;
            text-align: center;
          }

          h3 {
            text-align: center;
            font-size: 18px;
            line-height: 1.56;
            letter-spacing: 0.6px;
            position: relative;
            margin-bottom: 40px;

            &::after {
              display: block;
              content: "";
              width: 40px;
              height: 2px;
              position: absolute;
              left: 0;
              right: 0;
              bottom: -20px;
              margin: auto;
              background: #aaa;
            }
          }

          .flex_item {
            display: block;
            padding-bottom: 15px;
            margin-bottom: 15px;
            border-bottom: 1px dotted #d8d8d8;

            &.last {
              border-bottom: 0;
              margin-bottom: 0;
            }


            .item_txt {
              width: 100%;
              line-height: 1.6;

              .price {
                display: block;
                font-size: 18px;
                letter-spacing: 1px;
              }

              .init_price {
                display: block;
                @include abel;
                font-size: 24px;
                letter-spacing: 1.1px;
                color: #444444;
              }

              .initial {
                display: block;
                font-size: 12px;
                line-height: 1.93;
                letter-spacing: 1.1px;

                font {
                  display: inline-block;
                  padding-right: 3px;
                  font-size: 16px;
                }
              }

              ul {
                li {
                  position: relative;
                  padding-bottom: 7px;
                  margin-bottom: 7px;
                  border-bottom: 1px dotted #d8d8d8;

                  &:last-child {
                    padding-bottom: 0;
                    margin-bottom: 0;
                    border-bottom: 0 dotted #d8d8d8;
                  }

                  span {
                    position: absolute;
                    top: 0;
                    bottom: 0;
                    right: 0;
                    margin: auto;
                    text-align: right;
                    font-weight: bold;
                    letter-spacing: 0.05em;
                  }
                }
              }
            }
          }

          &:last-child {
            margin-right: 0;
          }

          &.light {
            .plan_ttl {
              background: #9f6146;
            }

            h3 {
              &::after {
                background: #9f6146;
              }
            }

            .flex_item {
              .item_ttl {
                border: 1px solid #9f6146;
                color: #9f6146;
              }

              .item_txt {
                ul {
                  li {
                    span {
                      color: #9f6146;
                    }
                  }
                }
              }
            }
          }

          &.medium {
            .plan_ttl {
              background: #77aa00;
            }

            h3 {
              &::after {
                background: #77aa00;
              }
            }

            .flex_item {
              .item_ttl {
                border: 1px solid #77aa00;
                color: #77aa00;
              }

              .item_txt {
                ul {
                  li {
                    span {
                      color: #77aa00;
                    }
                  }
                }
              }
            }
          }

          &.complete {
            .plan_ttl {
              background: #e3c932;
            }

            h3 {
              &::after {
                background: #e3c932;
              }
            }

            .flex_item {
              .item_ttl {
                border: 1px solid #e3c932;
                color: #e3c932;
              }

              .item_txt {
                ul {
                  li {
                    span {
                      color: #e3c932;
                    }
                  }
                }
              }
            }
          }
        }
      }
    }
  }
  @media screen and (max-width: 1100px){
    #plans{
      margin-top: 120px;
      padding: 80px 0;
      background: #f4f4f4;
      .ttl_wrap{
        text-align: center;
      }
      .plans_wrap{
        width: 80%;
        max-width: 365px;
        margin: 100px auto 0;
        #slickSlider2{
          .slick-arrow{
            display: none !important;
          }
          .plan_wrap{
            width: 345px;
            margin: 0 10px;
            background: #fff;
            position: relative;
            border-radius: 5px;
            padding: 35px 15px 15px;
            box-sizing: border-box;
            .plan_ttl{
              position: absolute;
              width: 300px;
              top: -12.5px;
              left:0;
              right:0;
              margin: auto;
              border-radius: 5px;
              padding: 7px 0;
              color: #fff;
              @include abel;
              display: block;
              background: #aaa;
              color: #fff;
              font-size: 19px;
              letter-spacing: 1.3px;
              text-align: center;
            }
            h3{
              text-align: center;
              font-size: 18px;
              line-height: 1.56;
              letter-spacing: 0.6px;
              position: relative;
              margin-bottom: 40px;
              &::after{
                display: block;
                content: "";
                width: 40px;
                height: 2px;
                position: absolute;
                left:0;
                right: 0;
                bottom: -20px;
                margin: auto;
                background: #aaa;
              }
            }
            .flex_item{
              @include flexSet;
              padding-bottom: 15px;
              margin-bottom: 15px;
              border-bottom: 1px dotted #d8d8d8;
              &.last{
                border-bottom:0;
                margin-bottom:0;
              }
              .item_ttl{
                width: 90px;
                text-align: center;
                display: block;
                box-sizing: border-box;
                height: 30px;
                font-size: 12px;
                line-height: 28px;
                border: 1px solid #aaa;
                border-radius: 5px;
                margin-right: 15px;
              }
              .item_txt{
                line-height: 1.6;
                .price{
                  display: block;
                  font-size: 18px;
                  letter-spacing: 1px;
                }
                .init_price{
                  display: block;
                  @include abel;
                  font-size: 24px;
                  letter-spacing: 1.1px;
                  color: #444444;
                }
                .initial{
                  display: block;
                  font-size: 12px;
                  line-height: 1.93;
                  letter-spacing: 1.1px;
                  font{
                    display: inline-block;
                    padding-right: 3px;
                    font-size: 16px;
                  }
                }
                ul{
                  li{
                    position: relative;
                    padding-bottom: 7px;
                    margin-bottom: 7px;
                    border-bottom: 1px dotted #d8d8d8;
                    &:last-child{
                      padding-bottom: 0px;
                      margin-bottom: 0px;
                      border-bottom: 0px dotted #d8d8d8;
                    }
                    span{
                      position: absolute;
                      top:0;
                      bottom:0;
                      right:0;
                      margin: auto;
                      text-align: right;
                      font-weight: bold;
                      letter-spacing: 0.05em;
                    }
                  }
                }
              }
            }
            &:last-child{
              margin-right: 0;
            }
          }
        }
      }
    }
  }
  @media screen and (max-width: 750px){
    #plans {
      margin-top: 80px;
      padding: 80px 0;
      background: #f4f4f4;

      .ttl_wrap {
        text-align: center;
      }

      .plans_all{
        margin-top: 80px;
        .item_wrap{
          display: block;
          background: #fff;
          padding: 20px;
          margin-bottom: 20px;
          border-radius: 5px;
          box-sizing: border-box;
          .item_ttl{
            display: block;
            width: 100%;
            margin: 0 auto 15px;
            font-size: 14px;
            padding: 10px;
            letter-spacing: 1.5px;
          }
          .item_detail{
            width: 100%;
            text-align: center;
            .price{
              line-height: 1.6;
              font-size: 25px;
            }
            .initial{
              font-size: 14px;
              font-weight: bold;
              line-height: 1.6;
              font{
                display: block;
                padding: 0px 3px;
                font-size: 18px;
              }
            }
            .small{
              display: block;
              margin-top: 5px;
            }
          }
        }
      }

      .plans_wrap {
        width: 85vw;
        margin: 40px auto 0;

        #slickSlider2 {
          margin-left: -1.5vw;
          .slick-arrow {
            display: none !important;
          }

          .item_box{
            width: 82vw;
            margin: 0 1.5vw;
          }

          .plan_wrap {
            width: 100%;
            padding: 35px 15px 10px;

            .plan_ttl {
              width: 80%;
              top: -12.5px;
              font-size: 16px;
              letter-spacing: 1px;
            }

            h3 {
              font-size: 16px;
              margin-bottom: 40px;
            }

            .flex_item {
              padding-bottom: 15px;
              margin-bottom: 15px;
              border-bottom: 1px dotted #d8d8d8;

              &.last {
                border-bottom: 0;
                margin-bottom: 0;
              }


              .item_txt {
                line-height: 1.6;

                .price {
                  font-size: 16px;
                }

                .init_price {
                  font-size: 18px;
                }

                .initial {
                  font-size: 12px;
                  line-height: 1.6;

                  font {
                    display: inline-block;
                    padding-right: 3px;
                    font-size: 16px;
                  }
                }

                ul {
                  li {
                    padding-bottom: 5px;
                    margin-bottom: 5px;
                    border-bottom: 1px dotted #d8d8d8;
                    font-size: 12px;
                  }
                }
              }
            }
          }
        }
      }
    }
  }
}
