#contents{
  #service{
    margin-top: 120px;
    .ttl_wrap{
      text-align: center;
    }
    .img_wrap{
      width: 100%;
      height: 400px;
      @include bgSet;
      background-image: url(../img/service_img01.jpg);
      position: relative;
    }
    .main_txt{
      margin-bottom: 150px;
      .decorated_ttl{
        position: relative;
        z-index: 10;
        margin-top: -60px;
        padding-left: calc(50vw - 540px);
        h2{
          margin-bottom: 15px;
        }
        p{
          font-size: 14px;
          line-height: 1.86;
          letter-spacing: 1.8px;
          span{
            display: block;
          }
        }
      }
    }
    .merit_wrap{
      .merit_item{
        @include flexSet;
        align-items: center;
        margin-bottom: 120px;
        .merit_img{
          width: 50%;
          height: 395px;
          background: #f4f4f4;
          margin-right: 45px;
          @include bgSet;
          &.img01{
            background-image: url(../img/service_img02.jpg);
          }
          &.img02{
            background-image: url(../img/service_img03.jpg);
          }
          &.img03{
            background-image: url(../img/service_img04.jpg);
          }
        }
        .merit_txt{
          max-width: 520px;
          .en_ttl{
            display: block;
            @include dance;
            font-size: 25px;
            letter-spacing: 3px;
            color: #c26b23;
            margin-bottom: 15px;
          }
          font{
            display: block;
          }
          h3{
            font-size: 18px;
            line-height: 1.7;
            letter-spacing: 2px;
            margin-bottom: 20px;
            span{
              display: inline-block;
              padding: 0 3px;
              font-size: 24px;
              color: #77aa00;
            }
          }
          p{
            font-size: 14px;
            line-height: 1.71;
            letter-spacing: 2.7px;
          }
        }
        &.reverse{
          flex-direction: row-reverse;
          .merit_img{
            margin-left: 45px;
            margin-right: 0px;
          }
        }
      }
    }
  }
  @media screen and (max-width: 1100px){
    #service{
      margin-top: 80px;
      .img_wrap{
        width: 100%;
        height: 400px;
        @include bgSet;
        background-image: url(../img/service_img01.jpg);
        position: relative;
      }
      .main_txt{
        margin-bottom: 150px;
        .decorated_ttl{
          position: relative;
          z-index: 10;
          margin-top: -60px;
          padding-left: calc(50vw - 360px);
          h2{
            margin-bottom: 15px;
          }
          p{
            font-size: 14px;
            line-height: 1.86;
            letter-spacing: 1.8px;
            span{
              display: block;
            }
          }
        }
      }
      .merit_wrap{
        .merit_item{
          display: block;
          margin-bottom: 80px;
          .merit_img{
            @include waku;
            width: 100%;
            height: 300px;
            margin-left: auto;
            margin-right: auto;
            @include bgSet;
          }
          .merit_txt{
            @include waku;
            margin-top: 40px;
          }
          &.reverse{
            .merit_img{
              margin-left: auto;
              margin-right: auto;
            }
          }
        }
      }
    }
  }
  @media screen and (max-width: 750px){
    #service{
      margin-top: 0;
      .img_wrap{
        width: 100%;
        height: 220px;
      }
      .main_txt{
        margin-bottom: 80px;
        .decorated_ttl{
          margin-top: -45px;
          padding-left: 5vw;
          h2{
            margin-bottom: 15px;
          }
          p{
            padding-right: 5vw;
            font-size: 13px;
            line-height: 1.8;
            letter-spacing: 1.7px;
            span{
              display: inline;
            }
          }
        }
      }
      .merit_wrap{
        .merit_item{
          margin-bottom: 40px;
          .merit_img{
            @include waku;
            width: 100%;
            height: 220px;
          }
          .merit_txt{
            margin-top: 20px;
            .en_ttl{
              font-size: 20px;
              letter-spacing: 2px;
              margin-bottom: 10px;
            }
            font{
              display: inline;
            }
            h3{
              font-size: 16px;
              line-height: 1.7;
              letter-spacing: 1.8px;
              margin-bottom: 20px;
              span{
                font-size: 22px;
              }
            }
            p{
              font-size: 13px;
              line-height: 1.71;
              letter-spacing: 1.7px;
            }
          }
        }
      }
    }
  }
}
